<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- GPSを使った正確な位置情報 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Wi-Fiや基地局を使った大まかな位置情報 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- アプリを閉じている時も位置情報を取得 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    
    <application
        android:label="flutter_application_1"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Androidプロセスが開始されるとすぐに，このアクティビティに適用するAndroidテーマを指定する．
                このテーマは，Flutter UIの初期化中にユーザーに表示される．
                その後も，このテーマはFlutter UIの背後にあるウィンドウの背景を決定するために使用される． -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 以下のメタデータは削除しない．
            これはFlutterツールがGeneratedPluginRegistrant.javaを生成するために使用される． -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
                
        <!-- API取得 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDw6-T_rx5lubJ76HtuvjApYa6LwtTH5x0"/>

    </application>
    <!-- テキストを処理できるアクティビティを照会するには，以下を参照 :
        https://developer.android.com/training/package-visibility and
        https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

        特に、これはFlutterエンジンのio.flutter.plugin.text.ProcessTextPluginで使用される． -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
